#!/usr/bin/make -f
# debian/rules for Haxe.

include /usr/share/ocaml/ocamlvars.mk
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with ocaml,bash-completion --no-parallel

override_dh_auto_configure:

override_dh_auto_install:

override_dh_missing:
	dh_missing --fail-missing

get-orig-source:
	# create tar manually from git, in order to get submodules
	git clone --branch $(DEB_VERSION_UPSTREAM) --depth 1 --recursive https://github.com/HaxeFoundation/haxe.git orig-source
	cd orig-source && \
		python3 $(CURDIR)/debian/git-archive-all ../../haxe_$(DEB_VERSION_UPSTREAM).orig.tar.gz
	rm -rf orig-source
